<!-- <div class="container">
<p [ngClass]="variable1 < 5 ? 'texto-error' : 'texto-exito'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, alias?</p>


<p [style.border]="variable2 === 10 ? '1px solid black': '1px solid red'">Lorem ipsum dolor sit amet</p>

<h2>Directiva personalizada</h2>

<p appDirectivaPersonalizada>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
<hr>

ngFor directivas esctructurales
<p>{{listaNombres}} </p>

<ol>
    <li *ngFor="let nombre of listaNombres">{{nombre.nombre}} </li>
   
</ol>

ng if

<ol>
    <div *ngFor="let nombre of listaNombres">
        <li *ngIf="nombre.edad>18">{{nombre.edad}}</li>
         </div>
   
</ol>




<input type="text" placeholder="ingrese nombre" [(ngModel)]="nombre">
<p>su nombre es {{nombre}} </p>
<button (click)="manejarEvento()">clickeame</button>
<p>{{variable1}} </p> -->