

<div class="container">
<mat-card class="m-3 col-12" [style.background-color]="variable === 5 ? 'grey': 'white'">

    <h1 class="text-center p-2 mb-3 text-primary">Cursos para iniciar en la programación</h1>
    <button mat-raised-button color="primary" class="m-2"(click)="agregarCurso()" >agregar Curso</button>

    <mat-form-field appearance="standard" >
      <mat-label>Buscar</mat-label>
      <input  matInput (keyup)="applyFilter($event)" placeholder="Buscar cliente" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">
  

 
  <ng-container matColumnDef="tipo" >
    <th mat-header-cell *matHeaderCellDef > tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
  </ng-container>

  <ng-container matColumnDef="activo"  >
    <th mat-header-cell *matHeaderCellDef > activo </th>
    <td mat-cell  class="text-center" *matCellDef="let element">{{element.activo | booleanSiNo :'si':'no' }} </td>
  </ng-container>

 
  <ng-container matColumnDef="nivel">
    <th mat-header-cell *matHeaderCellDef > Nivel </th>
    <td mat-cell *matCellDef="let element"> {{element.nivel}} </td>
  </ng-container>

  
  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef  > Link </th>
    <td mat-cell *matCellDef="let element"> {{element.link}} </td>
  </ng-container>

  
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">  
      <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="borrarCurso(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Cargando Datos..{{input.value}}</td>
    </tr>
  </table>

 


  <button class="btn btn-dark m-2"(click)="fondoNegro()" >modo oscuro</button>
  <button class="btn btn-primary "(click)="fondoBlanco()" >modo claro</button>
 
  <mat-paginator [pageSizeOptions]="[6,10,15]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  <p>numero de cursos: {{dataSource.data.length}} </p>
</mat-card>
</div>
