

<div class="container">
<mat-card class="m-3 col-12" [style.background-color]="variable === 5 ? 'grey': 'white'">

    <h1 class="text-center p-2 mb-3 text-primary">Cursos para iniciar en la programación</h1>
    <button mat-raised-button color="primary" class="m-2" >agregar Curso</button>

<table *ngFor="let curso of cursosObservable | async" class="container mat-elevation-z8 mb-3 " style="width: 900px;">

 
  <ng-container matColumnDef="tipo" >
    <th mat-header-cell *matHeaderCellDef > tipo </th>
    <td mat-cell > {{curso.tipo}} </td>
  </ng-container>

  <ng-container matColumnDef="activo"  >
    <th mat-header-cell *matHeaderCellDef > activo </th>
    <td mat-cell  class="text-center"> <span [appH1Font]="curso.activo">{{curso.activo | booleanSiNo :'si':'no' }} </span></td>
  </ng-container>

 
  <ng-container matColumnDef="nivel">
    <th mat-header-cell *matHeaderCellDef > Nivel </th>
    <td mat-cell   > {{curso.nivel}} </td>
  </ng-container>

  
  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef  > Link </th>
    <td mat-cell > {{curso.link}} </td>
  </ng-container>

  
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell >  
      <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="borrar(curso.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  

 

</table>
  <button class="btn btn-dark m-2"(click)="fondoNegro()" >modo oscuro</button>
  <button class="btn btn-primary "(click)="fondoBlanco()" >modo claro</button>
  <button class="btn btn-success m-2 ">agregar curso</button>
  <mat-paginator [pageSizeOptions]="[6,10,15]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  <p>numero de cursos: {{listaLinks.length}} </p>
</mat-card>
</div>
