<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h1 class="text-light"> Cursos Gratis<button class="btn btn-dark my-4 " type="submit" (click)="agregarCurso()">Agregar Curso</button></h1>
      </div>

      <ul class="list-unstyled components">
          <p>Aquí encontrarás links a cursos gratis de programación, marketing y diseño</p>
          
          <li>
              <a href="#" routerLink="/cursosProg">Programacion</a>
          </li>
          <li>
              <a href="#pageSubmenu"  aria-expanded="false" class="dropdown-toggle">Marketing</a>
             
          </li>
          <li>
              <a href="#">Diseño</a>
          </li>
          <li>
              <a href="#">Contacto</a>
          </li>
      </ul>

      <ul class="list-unstyled CTAs">
          <li>
              <a href="" class="download">Recomendar cursos</a>
          </li>
          
      </ul>
  </nav>

  <!-- Page Content  -->
  