<div class="container m-4">
<mat-card class="mat-elevation-z15" >
<form [formGroup]="formulario" (ngSubmit)="agregarCurso(curso)">
    <div class="row">
  <h1>Agrega un curso gratis para compartir con la comunidad</h1>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>tipo</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>activo</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>nivel</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>link</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>

      <button  (click)="agregarCurso(curso)">hh</button>
</div>
</form>
</mat-card>
</div>