<h3>ejemplos de botones</h3>

<button mat-raised-button color="primary" >prueba</button>

<button mat-raised-button color="accent" >prueba</button>

<button mat-raised-button color="warn" (click)="manejarEvento()">prueba</button>
<br>


<button mat-stroked-button color="primary" >prueba</button>

<button mat-stroked-button color="accent" >prueba</button>

<button mat-stroked-button color="warn" >prueba</button>
<br>


<button mat-flat-button color="primary" >prueba</button>

<button mat-flat-button color="accent" >prueba</button>

<button mat-flat-button color="warn" >prueba</button>
<br>
<hr>

<h3>cards</h3>

<mat-form-field>
    <mat-label>filtrar</mat-label>
    <input type="text" placeholder="buscar" matInput>
</mat-form-field>

<mat-form-field appearance="legacy">
    <mat-label>filtrar</mat-label>
    <input type="text" placeholder="buscar" matInput>
</mat-form-field>


<mat-form-field appearance="fill">
    <mat-label>filtrar</mat-label>
    <input type="text" placeholder="buscar" matInput>
</mat-form-field>


<mat-form-field appearance="outline">
    <mat-label>filtrar</mat-label>
    <input type="text" placeholder="buscar" matInput>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>dfssf</mat-label>
    <input type="text" placeholder="buscar" matInput>
</mat-form-field>


<div class="row">
    <div *ngFor="let link of listaLinks" class="col-md-3">
        <mat-card class="container">
            <mat-card-title>Curso de {{link.tipo}} </mat-card-title>
            <mat-card-subtitle>Nivel {{link.nivel}} </mat-card-subtitle>
            <mat-card-content><a href=""> {{link.link}} </a></mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary">ir a la pagina</button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>
<hr>